
span.fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
span.legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
span.label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
 
span.em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
 
span.input:focus {
  background: #eaeaea;
}
 
span.input, textarea {
  width: 249px;
}
 
span.textarea {
  height: 100px;
}
 
span.select {
  width: 254px;
}
 
span.input[type=checkbox] {
  width: 10px;
}
 
span.input[type=submit] {
  width: 150px;
  padding: 10px;
}